<a href="https://colab.research.google.com/github/mahfuz978/Apache-Spark/blob/main/Spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Spark SQL

In [1]:
!wget https://gist.githubusercontent.com/ghaiyur-musubi/2b752601de1ae266a7fbe146629b0dce/raw/43791c2be6694fb443dddce7819be322b1e11967/cars.csv

--2021-08-23 22:11:52--  https://gist.githubusercontent.com/ghaiyur-musubi/2b752601de1ae266a7fbe146629b0dce/raw/43791c2be6694fb443dddce7819be322b1e11967/cars.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22201 (22K) [text/plain]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  21.68K  --.-KB/s    in 0.001s

2021-08-23 22:11:53 (15.7 MB/s) - ‘cars.csv’ saved [22201/22201]

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 65 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=ebdd8cb422673f26454c34e342af59458ef2517309200114c1b4374170c8b05c
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config("sprk.ui.port", "4050")\
        .getOrCreate()

In [4]:
df = spark.read.csv('cars.csv', header=True, sep=";")
df.show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [5]:
# Load data
df = spark.read.csv('cars.csv', header=True, sep=";")
# Register Temporary Table
df.createOrReplaceTempView("temp")
# Select all data from temp table
spark.sql("select * from temp limit 5").show()
# Select count of data in table
spark.sql("select count(*) as Total_Count from temp").show()
# Select distinct cars in table 
spark.sql("select distinct Car from temp").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+

+-----------+
|Total_Count|
+-----------+
|        406|
+-----------+

+--------------------+
|                 Car|
+--------------------+
|Volkswagen 1131 D...|
|Chevrolete Chevel...|
|Chevrolet Monte C...|
|     Ford LTD Landau|
|       Honda Prelude|
|      Chevrolet Nova|
|   Volkswagen Rabbit|
|     Ford Torino 500|
|        Toyota Camry|
|         Audi 100 LS|
|Plymouth Valiant ...|
|Toyota Corolla Ma...|
|Oldsmobile Cutlas...|
|Fiat 124 Sport Coupe|
|     Volvo 145e (sw)|
|Chevrolet Caprice...|
|            Audi Fox|
|    Chevrolet Camaro|
|       Dodge Aspen 6|
|    Pontiac Catalina|
+--------------------+
only showing top 20 rows